body {
    background-color:#1e1f20;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    font-family: Arial
}
.page .box {
    display: flex;
    background-color: #0e0e0e;
    padding: 80px 30px 10px 30px;
    max-width: fit-content;
    border-radius: 25px;
}
.page .box .left {
    margin: 0px 320px 100px 0px;
}
.page .box .right {
    margin: 18px 0px 0px 0px;
}
.page .box .left .h1 {
    color: #ccc;
}
.page .box .left .p1 {
    color: #ccc;
    margin-top: -5px
}
.page .box .right .email {
    min-width: 385px;
    color: #ccc;
    padding: 15px;
    margin-left: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
}
.page .box .right .forgot {
    margin: 10px 0px 0px 0px;
    border-radius: 8px;
    font-size: 12px;
    background-color: transparent;
    color: #a8c7fa;
    font-weight: bold;
    border: 0px;
    padding: 3px;
    padding-left: 4px
}
.page .box .right .forgot:hover {
    background-color: #a8c7fa09;
    cursor: pointer
}
.page .box .right .div {
    color: #ccc;
    margin-top: 40px;
    margin-left: 4px;
    margin-bottom: 2px;
    max-width: 380px;
    font-size: 12px;
}
.page .box .right .a {
    color: #a8c7fa;
    text-decoration: none;
    font-size: 12px;
}
.page .box .right .a:hover {
    text-decoration: underline
}
.page .box .right .create {
    color: #a8c7fa;
    margin-top: 30px;
    margin-left: 200px;
    padding: 10px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    font-size: 12px;
}
.page .box .right .create:hover {
    background-color: #a8c7fa09;
    cursor: pointer
}
.page .box .right .next {
    color: #0c3474;
    background-color: #a8c7fa;
    border-radius: 25px;
    border: none;
    font-size: 12px;
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.page .box .right .next:hover {
    background-color: #aecbfa;
    cursor: pointer
}
.page .footer {
    display: flex;
    margin-left: 725px;
    margin-top: 5px;
    font-size: 10px;
}
.page .footer .help {
    text-decoration: none;
    padding: 10px;
    margin-right: 3px;
    color: #ccc;
    border-radius: 10px;
}
.page .footer .help:hover {
    background-color: #cccccc13;
}
.page .footer .privacy {
    text-decoration: none;
    padding: 10px;
    margin-right: 3px;
    color: #ccc;
    border-radius: 10px;
}
.page .footer .privacy:hover {
    background-color: #cccccc13;
}
.page .footer .terms {
    text-decoration: none;
    padding: 10px;
    color: #ccc;
    border-radius: 10px;
}
.page .footer .terms:hover {
    background-color: #cccccc13;
}